.content {
  padding-top: 10px;
  margin: 5px 15px;
}
.row {
  display: flex;
  gap: 10px;

  mat-form-field {
    width: 100%;
  }
}

.action {
  padding: 0px 25px 20px;
  button {
    flex: 1;
  }
}
.errors{
  margin:0px 26px 20px;
  padding: 5px 0px;
}
.errormessage{
  margin: 8px 15px;
}